{{- if .Values.deploy }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Values.name }}
  name:  {{ .Values.name }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  replicas: {{ .Values.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.name }}
      stack: tinkerbell
      {{- with .Values.selector }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  template:
    metadata:
      labels:
        app: {{ .Values.name }}
        stack: tinkerbell
        {{- with .Values.selector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.nodeSelector }}
      nodeSelector: 
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - args:
          - --backend=kubernetes
          - --http-addr=:{{ .Values.deployment.port }}
          {{- range .Values.args }}
          - {{ . }}
          {{- end }}
          env:
            - name: HEGEL_TRUSTED_PROXIES
              value: {{ required "missing trustedProxies" ( join "," .Values.trustedProxies | quote ) }}
            {{- range $i, $env := .Values.env }}
            - name: {{ $env.name | quote }}
              value: {{ $env.value | quote }}
            {{- end }}
          image: {{ .Values.image }}
          imagePullPolicy: {{ .Values.imagePullPolicy }}
          name: {{ .Values.name }}
          ports:
            - containerPort: {{ .Values.deployment.port }}
              name: {{ .Values.deployment.portName }}
          resources:
            limits:
              cpu: {{ .Values.resources.limits.cpu }}
              memory: {{ .Values.resources.limits.memory }}
            requests:
              cpu: {{ .Values.resources.requests.cpu }}
              memory: {{ .Values.resources.requests.memory }}
      serviceAccountName: {{ .Values.name }}
{{- end }}
