{{- if .Values.server.deploy }}
{{- $roleType := .Values.server.rbac.type }}
{{- $nodeSelector := .Values.server.nodeSelector }}
{{- if .Values.global }}
{{- $roleType = coalesce .Values.global.rbac.type .Values.server.rbac.type }}
{{- $nodeSelector = coalesce .Values.server.nodeSelector .Values.global.nodeSelector }}
{{- end }}
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: {{ .Values.server.name }}
  name: {{ .Values.server.name }}
  namespace: {{ .Release.Namespace | quote }}
spec:
  replicas: {{ .Values.server.replicas }}
  selector:
    matchLabels:
      app: {{ .Values.server.name }}
      stack: tinkerbell
      {{- with .Values.server.selector }}
      {{- toYaml . | nindent 6 }}
      {{- end }}
  template:
    metadata:
      labels:
        app: {{ .Values.server.name }}
        stack: tinkerbell
        {{- with .Values.server.selector }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      containers:
        - args:
            - --backend=kubernetes
            {{- if eq $roleType "Role"}}
            - --kube-namespace={{ .Release.Namespace }}
            {{- end }}
            {{- range .Values.server.args }}
            - {{ . }}
            {{- end }}
          image: {{ .Values.server.image }}
          imagePullPolicy: {{ .Values.server.imagePullPolicy }}
          name: server
          ports:
            - containerPort: {{ .Values.server.deployment.port }}
              name: {{ .Values.server.deployment.portName }}
          resources:
            limits:
              cpu: {{ .Values.server.resources.limits.cpu }}
              memory: {{ .Values.server.resources.limits.memory }}
            requests:
              cpu: {{ .Values.server.resources.requests.cpu }}
              memory: {{ .Values.server.resources.requests.memory }}
      serviceAccountName: {{ .Values.server.name }}
      {{- with (default .Values.global.nodeSelector .Values.server.nodeSelector) }}
      nodeSelector:
      {{ toYaml . | nindent 8 }}
      {{- end }}
      {{- if .Values.server.singleNodeClusterConfig.controlPlaneTolerationsEnabled }}
      tolerations:
      {{- include "singleNodeClusterConfig" . | indent 6 }}
      affinity:
        nodeAffinity:
          preferredDuringSchedulingIgnoredDuringExecution:
          {{- include "preferWorkerNodes" (dict "nodeAffinityWeight" .Values.server.singleNodeClusterConfig.nodeAffinityWeight) | indent 10 }}
      {{- end }}
{{- end }}
